.Post {
    text-align: center;
    align-content: center;
    border-radius: 8px;
    width: 400px;
    max-width: 400px;
    border: 1px solid rgb(95, 231, 186);
    margin: auto;
    margin-top: 20px;
}

.Post:hover {
    transform: translateX(10px);
    box-shadow: 10px -10px 8px 7px black;
    transition: all 0.4s;
}

.title {
    background-color: aquamarine;
    margin-top: 0px;
}

.text {
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.username {
    text-align: left ;
    margin-bottom: 0px;
    background-color: aquamarine;
    padding-bottom: 10px;
    padding-top: 10px;
}

small {
    color: red
}

.comment {
    width: 40vw;
    border: 1px solid cyan;
    border-radius: 8px;
}